<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="tblAuthor" class="table table-striped table-bordered table-sm" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th class="fontTable">Id</th>
                        <th class="fontTable">Rut</th>
                        <th class="fontTable">Nombre completo</th>
                        <th class="fontTable">Fecha Nacimiento</th>
                        <th class="fontTable">Ciudad Origen</th>                        
                        <th class="fontTable">Correo Electrónico</th>                       
                        <th class="fontTable">Acciones</th>
                    </tr>
                </thead>               
            </table>
        </div>
    </div>
</div>


